@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,500&display=swap');

#page {
    background-color: rgb(249, 231, 250);
    font-family:'Montserrat', sans-serif;
    text-align: center;
    
}

.homepage-title{
    font-size: 40px;
    color:rgb(13, 99, 114)
}

#ul-list{
    font-weight: 500;
}

img{
    height: auto;
    width: 400px;
}